<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <flipdev_seo>
            <settings>
                <noindexparams>NOINDEX,FOLLOW</noindexparams>
                <noindexparamssearch>1</noindexparamssearch>
                <category_h1>1</category_h1>
                <forcecanonical>1</forcecanonical>
                <forcehptitle>1</forcehptitle>
                <enablecmscanonical>1</enablecmscanonical>
            </settings>
            <twittercards>
                <enabled>0</enabled>
            </twittercards>
            <opengraph>
                <enabled>1</enabled>
            </opengraph>
            <metadata>
                <product_title_enabled>0</product_title_enabled>
                <product_title>[name] - [store]</product_title>
                <product_metadesc_enabled>0</product_metadesc_enabled>
                <product_metadesc>[name], [store]</product_metadesc>
                <category_title_enabled>0</category_title_enabled>
                <category_title>[original_name] - [store]</category_title>
                <category_metadesc_enabled>0</category_metadesc_enabled>
                <category_metadesc>[original_name] [store]</category_metadesc>
                <cms_title_enabled>0</cms_title_enabled>
                <cms_title>[title] - [store]</cms_title>
                <cms_metadesc_enabled>0</cms_metadesc_enabled>
                <cms_metadesc>[title] - [store]</cms_metadesc>
            </metadata>
            <organization_sd>
                <enabled>0</enabled>
            </organization_sd>
            <product_sd>
                <enabled>1</enabled>
            </product_sd>
            <social_sd>
                <enabled>0</enabled>
            </social_sd>
            <logo_sd>
                <enabled>1</enabled>
            </logo_sd>
            <breadcrumbs_sd>
                <enabled>1</enabled>
            </breadcrumbs_sd>
            <website_sd>
                <enabled>1</enabled>
                <sitelinks_searchbox>1</sitelinks_searchbox>
            </website_sd>
            <category_sd>
                <enabled>1</enabled>
            </category_sd>
            <faq_sd>
                <enabled>0</enabled>
            </faq_sd>
            <localbusiness_sd>
                <enabled>0</enabled>
                <type>Store</type>
            </localbusiness_sd>
            <hreflang>
                <enabled>0</enabled>
            </hreflang>
            <xml_sitemap>
                <enabled>0</enabled>
                <product_enabled>1</product_enabled>
                <product_images>1</product_images>
                <product_videos>1</product_videos>
                <product_priority>1.0</product_priority>
                <product_changefreq>weekly</product_changefreq>
                <category_enabled>1</category_enabled>
                <category_priority>0.8</category_priority>
                <category_changefreq>weekly</category_changefreq>
                <cms_enabled>1</cms_enabled>
                <cms_priority>0.5</cms_priority>
                <cms_changefreq>monthly</cms_changefreq>
                <hreflang_enabled>0</hreflang_enabled>
                <exclude_out_of_stock>0</exclude_out_of_stock>
                <exclude_disabled>1</exclude_disabled>
                <exclude_not_visible>1</exclude_not_visible>
                <max_urls_per_sitemap>50000</max_urls_per_sitemap>
                <cron_enabled>1</cron_enabled>
                <cron_hour>3</cron_hour>
            </xml_sitemap>
            <robots_txt>
                <enabled>0</enabled>
                <content><![CDATA[User-agent: *
Disallow: /checkout/
Disallow: /customer/
Disallow: /catalogsearch/
Disallow: /wishlist/
Disallow: /sendfriend/
Disallow: /*?
]]></content>
                <auto_sitemap>1</auto_sitemap>
            </robots_txt>
            <google_content_grouping>
                <enabled>0</enabled>
            </google_content_grouping>
            <google_trusted_store>
                <enabled>0</enabled>
                <badge_position>gts_bottom_right</badge_position>
            </google_trusted_store>
        </flipdev_seo>
    </default>
</config>